<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <div class="product" th:each="Character : ${charactersData}">
        <h2 class="character_name" th:text="${Character.getName()}"></h2>
    </div>




    <div class="product" th:each="Film : ${filmWrapper}">
        <h2 th:text="${Film.getTitle()}"></h2>
        <h2 th:text="${Film.getCharacters()}"></h2>
    </div>

<h2>Hello</h2>
</body>
</html>