<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <div th:each="Characters : ${fillTwoCharacters}">
        <form action="indexes.html" method="get">
            <input th:value="${Characters.name}" type="submit">
            <input name="url" th:value="${Characters.url}" type="hidden"/>
        </form>
    </div>




    <div class="product" th:each="Film : ${filmWrapper}">
        <h2 th:text="${Film.getTitle()}"></h2>
        <h2 th:text="${Film.getCharacters()}"></h2>
    </div>

<h2>Hello</h2>
</body>
</html>