<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <div th:each="Characters : ${filmTwoCharacters}">
        <h2 th:text="${Characters.getName()}"></h2>
        <a th:href="@{'/new/' + ${Characters.name}}" class="button">Read Character Details</a>


    </div>




    <div class="product" th:each="Film : ${filmWrapper}">
        <h2 th:text="${Film.getTitle()}"></h2>
        <h2 th:text="${Film.getCharacters()}"></h2>
    </div>

<h2>Hello</h2>
</body>
</html>